name: Examples for those who want to transform distribution names

on: 
  push

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - uses: ./.github/actions/transform-ref
      id: tranform-ref
    - uses: jmatsu/dg-upload-app-action@master
      with:
        app_owner_name: ${{ secrets.TEST_USER_ID }}
        platform: android
        app_id: ${{ secrets.TEST_APPLICATION_ID }}
        api_token: ${{ secrets.DEPLOYGATE_API_TOKEN }}
        distribution_name: ${{ steps.tranform-ref.outputs.distribution_name }}
        ignore_api_failure: true
